@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  /** 기본 */
  :root[data-theme="light"] {
    --background: #ffffff;
    --foreground: #171717;
    --main: #c05755;
    --text: #2b2b2b;
  }

  /** 다크 테마 */
  :root[data-theme="dark"] {
    --background: #c05755;
    --foreground: #ededed;
    --main: #531d1b;
    --text: #ffffff;
  }

  /** 크리스마스 테마 */
  :root[data-theme="christmas"] {
    --background: #ffffff;
    --foreground: #171717;
    --main: #0f5132;
    --text: #f8f9fa;
  }

  /** 할로윈 테마 */
  :root[data-theme="halloween"] {
    --background: #ffffff;
    --foreground: #171717;
    --main: #ff7518;
    --text: #1a1a1a;
  }
}
